body {
    background-image: url("MainBG.png");
    font-size: 200%;
    color: black;
}

.MainHead {
    text-align: center;
    color: gold;
}

.MainBody {
    text-align: center;
    color: gold;
}

.NavigationTable {
    margin-left: 25%;
    background-color: white;
    text-align: center;
    font-size: 100%;
    width: 50%;
    border: solid;
    color: black;
}
